﻿@page
@model MovieView.Pages.Movies.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Release" class="control-label"></label>
                <input asp-for="Movie.Release" class="form-control" />
                <span asp-validation-for="Movie.Release" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Plot" class="control-label"></label>
                <input asp-for="Movie.Plot" class="form-control" />
                <span asp-validation-for="Movie.Plot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Cast" class="control-label"></label>
                <input asp-for="Movie.Cast" class="form-control" />
                <span asp-validation-for="Movie.Cast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Producer" class="control-label"></label>
                <input asp-for="Movie.Producer" class="form-control" />
                <span asp-validation-for="Movie.Producer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
