﻿@page "{id:int}"
@model MovieView.Pages.Movies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Release)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Release)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Plot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Plot)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Cast)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Cast)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Producer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Producer)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Movie.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
